@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background-color: white;
}
.bord {
  border: 1px solid red;
}

.section {
  margin-bottom: 120px;
  overflow: hidden;
}

h2 {
  font-size: clamp(24px, 4vw, 48px);
}
p {
  font-size: clamp(14px, 2vw, 20px);
}
@media (max-width: 700px) {
  .section {
    margin-bottom: 60px;
  }
}
